.sidebar {
    display: flex;
    padding: 20px 0 10px 10px;
    height: 100%;
    /* flex: 0.5; */
    max-width: 200px;
    border-right: 1px solid rgb(188, 188, 188);
}

.sidebar-container {
    margin: 10px 0;
    display: flex;
    width: 100%;
}

.sidebar-options {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.sidebar-option {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
   font-size: 14px;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

a:hover {
    color: #000;
}

.sidebar-option > p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.link {
    display: flex;
    flex-direction: column;
}

.link-tag {
    display: flex;
    align-content: center;
    padding: 5px 0;
    width: 100%;
    font-size: 1.2rem;
    color: #000;
}

.link-tag:hover {
    background: linear-gradient(90deg, rgba(156,38,211,1) 0%, rgba(38,204,211,1) 100%, rgba(20,78,68,1) 100%);
    border-radius: 8px;
}

.link-tag > .MuiSvgIcon-root {
    font-size: 19px;
    margin-right: 5px;
    color: rgb(92, 199, 199);;
}

.tags {
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,0.5);
    margin:0px 20px;
}

.tags > p {
    margin:5px 0;
}

.tags > p:hover {
    color: black;
}
