header {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 100000;
    min-height: 5vh;
}

.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgb(219, 235, 235); */
    background: linear-gradient(90deg, rgba(156,38,211,1) 0%, rgba(38,204,211,1) 100%, rgba(20,78,68,1) 100%);
    box-shadow: 1px 1px 5px rgb(17, 53, 53);
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0 10px;
}

.header-left > h3{
    cursor: pointer;
    padding: 0.3em;
    color: black;
}

.header-left > h3:hover {
    background-color:  rgb(72, 129, 129);
    border-radius: 9px;
}

.logoName {
    color: black;
}

.logoName:hover {
    color: white;
}

.header-left img {
    width: 50px;
    margin-right: 0.5em;
    cursor: pointer;
}

.header-right {
    display: flex;
}


.header-right-container {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    align-items: center;
}

.mailbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mailbox > .MuiSvgIcon-root {
    color: rgb(38, 38, 38);
    padding: 10px 5px;
    margin: 0px 5px;
    cursor: pointer;
}

.mailbox > .MuiSvgIcon-root:hover {
    color: white;
    background-color:  rgb(32, 50, 50);
    border-radius: 8px;
}

.header-right-container > .MuiSvgIcon-root {
    color: rgb(38, 38, 38);
    padding: 10px 5px;
    margin: 0px 5px;
    cursor: pointer;
}

.header-right-container > .MuiSvgIcon-root:hover {
    color: white;
    background-color:  rgb(32, 50, 50);
    border-radius: 8px;
}


@media screen and (max-width:768px) {
    .header-middle {
        display: none;
    }
}

@media screen and (min-width:768px){
    .header-middle{
        width: calc(20*2vw);
    }

    .header-search-container {
        width: 100%;
    }
}